body{
    background-color: rgb(192, 130, 176);
    color: rgb(107, 4, 90);
    margin: 8px;
}
header{
    border-bottom: double 5px rgb(107, 4, 90);
    padding: 30px;
    font-size: 35px;
    color: black;
}
h1{
    color:rgb(107, 4, 90);
    font-size: 20px;
}